.idea
out
.gradle
build
**/.ipynb_checkpoints
.DS_Store
*.vhd
*.ghw
*.hprof
*.iml
*.ipr
*.iws
.attach_*
.kotlintest
*.lot
*.lof
*.log
*.pyg
*.gz
*.toc
*.aux
*.bbl
*.blg
*.swp
*.dvi
*.listing
*.out.ps
*.out
*.nav
*.snm
*.vrb
*.ps
*.rai
*.rao
**/.ipynb_checkpoints/
*.run
temp*.svg
kotlin-js-store
*.cf